.splash-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #f0f0f0;
    padding: 2rem;
    text-align: center;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
  
  .feature-section {
    flex: 1;
    padding: 1rem;
    text-align: center;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
.schools-section {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
  }
  
  .school-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
  }
  
  .school-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .school-tile img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
.school-scroll {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .school-tile {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between images */
    transition: transform 2s linear;
  }
  
  .school-tile img {
    width: 150px;
    height: auto;
    border-radius: 5px;
  }
  
  /* Keyframes for scrolling animation */
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .school-scroll {
    animation: scroll 20s linear infinite; /* Adjust speed of scrolling */
  }
  
  .feature-section-home {
    flex: 1;
    text-align: center;
    /* border: 1px solid black; */
  }

  .feature-section-home img {
    height: 300px;
  }