.simulation3-container {
	text-align: left;
  }
  
  .pie-chart-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .left-text,
  .right-text,
  .bottom-text {
	flex: 1;
	text-align: center;
  }
  
  .pie-chart-image {
	max-width: 300px;
  }
  
  .left-text p,
  .right-text p,
  .bottom-text p {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .custom-list {
	list-style-type: none;
	padding-left: 0;
  }
  
  .custom-list li {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
  }
  